################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Treinamento.ControleFrotas/.vs/Treinamento.ControleFrotas/DesignTimeBuild/.dtbcache.v2
