################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Treinamento.ControleFrotas/.vs/Treinamento.ControleFrotas/DesignTimeBuild/.dtbcache.v2
/Treinamento.ControleFrotas/.vs/Treinamento.ControleFrotas/v16/.suo
*.dll
*.pdb
/Treinamento.ControleFrotas/Backend/bin/Debug/netcoreapp3.1/Backend.deps.json
/Treinamento.ControleFrotas/Backend/obj/Debug/netcoreapp3.1
/Treinamento.ControleFrotas/Backend/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Treinamento.ControleFrotas/Backend/obj/Release/netcoreapp3.1/Backend.AssemblyInfo.cs
*.cache
*.json
/Treinamento.ControleFrotas/Backend/obj/Backend.csproj.nuget.g.props
/Treinamento.ControleFrotas/Backend/obj/Backend.csproj.nuget.g.targets
*.exe
/Treinamento.ControleFrotas/ConsoleFront/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Treinamento.ControleFrotas/ConsoleFront/obj/Debug/netcoreapp3.1/ConsoleFront.AssemblyInfo.cs
/Treinamento.ControleFrotas/ConsoleFront/obj/Debug/netcoreapp3.1/ConsoleFront.csproj.CopyComplete
/Treinamento.ControleFrotas/ConsoleFront/obj/Debug/netcoreapp3.1/ConsoleFront.csproj.FileListAbsolute.txt
/Treinamento.ControleFrotas/ConsoleFront/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Treinamento.ControleFrotas/ConsoleFront/obj/Release/netcoreapp3.1/ConsoleFront.AssemblyInfo.cs
/Treinamento.ControleFrotas/ConsoleFront/obj/ConsoleFront.csproj.nuget.g.props
/Treinamento.ControleFrotas/ConsoleFront/obj/ConsoleFront.csproj.nuget.g.targets
/.vs/slnx.sqlite
/Treinamento.ControleFrotas/Backend/obj/Release/net5.0
/Treinamento.ControleFrotas/Backend/obj/Debug/net5.0
/Treinamento.ControleFrotas/ConsoleFront/obj/Debug/net5.0
/Treinamento.ControleFrotas/ConsoleFront/obj/Release/net5.0
/.vs/treinamento_dotNet/v16
